{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html {% if LANGUAGE_BIDI %}lang="fa" dir="rtl" {% endif %} lang='en' dir="ltr">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon/../../static/favicon/crm.ico' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/all.css' %}" rel="stylesheet">
    <link href="{% static 'css/card.css' %}" rel="stylesheet">
    <link href="{% static 'css/detail.css' %}" rel="stylesheet">
    <link href="{% static 'css/product.css' %}" rel="stylesheet">
    <title>{% trans 'My CRM' %}: {% block title %}{{ page_title }}{% endblock %}</title>
</head>
<body>
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #80d0c7;">
        <a class="navbar-brand" href="{% url 'organizations:list-organizations' %}">{% trans 'Organizations' %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link"
                       href="{% url 'organizations:create-organization' %}">{% trans 'Create Organization' %}
                        <span
                                class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'products:products-list' %}">{% trans 'Company Products' %}
                        <span
                                class="sr-only">(current)</span></a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'sale:quotes' %}">{% trans 'Quotes' %}
                            <span
                                    class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'sale:submit-quote' %}">{% trans 'Submit Quote' %}
                            <span
                                    class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'sale:followup-list' %}">{% trans 'Follow Ups' %}
                            <span
                                    class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'sale:create-followup' %}">{% trans 'Create Follow Up' %}
                            <span
                                    class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:logout' %}">{% trans 'Logout' %}</a>
                    </li>
                {% endif %}
                {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:login' %}">{% trans 'Login' %}</a>
                    </li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
                <span class="navbar-text">
                    <a class="nav-link" href="{% url 'users:edit' %}">{{ request.user.get_full_name }}</a>
                </span>
            {% endif %}
        </div>
    </nav>
{% endblock %}
<div class="container">
    <div class="row">
        <div class="col-md-12 mt-2">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger alert-dismissible">
                        {{ message }}
                        <button type="button" data-dismiss="alert" class="close">&times;</button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% block content %}{% endblock %}
</body>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% block page_script %}{% endblock %}
</html>