{% extends 'organizations/base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-2 mt-2">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_province">{% trans 'Province' %}</label>
                        {% render_field form.province class="form-control" %}
                    </div>
                    <div class="form-group">
                        <label for="id_name">{% trans 'Organization Name' %}</label>
                        {% render_field form.name class="form-control" %}
                    </div>
                    <div class="form-group">
                        <label for="id_organization_phone">{% trans 'Organization Phone' %}</label>
                        {% render_field form.organization_phone class="form-control" %}
                    </div>
                    <div class="form-group">
                        <label for="id_number_of_workers">{% trans 'Number Of Workers' %}</label>
                        {% render_field form.number_of_workers class="form-control" %}
                    </div>
                    <div class="form-group">
                        <label for="id_products">{% trans 'Manufactured Products' %}</label>
                        {% render_field form.products class="form-control" %}
                    </div>
                    <div class="form-group">
                        <label for="id_owner_of_organization">{% trans 'Owner of Organization' %}</label>
                        {% render_field form.owner_of_organization class="form-control" %}
                    </div>
                    <div class="form-group">
                        <label for="id_owner_phone">{% trans 'Owner Phone' %}</label>
                        {% render_field form.owner_phone class="form-control" %}
                    </div>
                    <div class="form-group">
                        <label for="id_owner_email">{% trans 'Owner Email' %}</label>
                        {% render_field form.owner_email class="form-control" %}
                    </div>
                    <div>
                        <button type="submit" value="Submit"
                                class="btn btn-outline-success btn-sm">{% trans 'Submit' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}