{% extends 'organizations/base.html' %}
{% block content %}
    <div class="container">
        <div class="team-single">
            <div class="row">
                <div class="col-lg-8 col-md-7">
                    <div class="team-single-text padding-50px-left sm-no-padding-left">
                        <h4 class="font-size38 sm-font-size32 xs-font-size30">Information of your Follow Up</h4>
                        <div class="contact-info-section margin-40px-tb">
                            <ul class="list-style9 no-margin">
                                <li>
                                    <div class="row">
                                        <div class="col-md-5 col-5">
                                            <i class="fa fa-user text-orange" aria-hidden="true"></i>
                                            <strong class="margin-10px-left text-orange">Registrar User:</strong>
                                        </div>
                                        <div class="col-md-7 col-7">
                                            <p>{{ object.registrar_user.get_full_name }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-md-5 col-5">
                                            <i class="fa fa-building text-yellow" aria-hidden="true"></i>
                                            <strong class="margin-10px-left text-yellow">Organization:</strong>
                                        </div>
                                        <div class="col-md-7 col-7">
                                            <p>{{ object.organization }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-md-5 col-5">
                                            <i class="fa fa-calendar text-lightred" aria-hidden="true"></i>
                                            <strong class="margin-10px-left text-lightred">Submit Date:</strong>
                                        </div>
                                        <div class="col-md-7 col-7">
                                            <p>{{ object.submit_date }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-md-5 col-5">
                                            <i class="fas fa-info text-green"></i>
                                            <strong class="margin-10px-left text-green">Description:</strong>
                                        </div>
                                        <div class="col-md-7 col-7">
                                            <p>{{ object.description }}</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}