{% extends 'organizations/base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-2">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_organization">{% trans 'Organization' %}</label>
                        {% render_field form.organization attr="required" class="form-control" %}
                    </div>
                    <div class="form-group">
                        <label for="id_description">{% trans 'Description' %}</label>
                        {% render_field form.description attr="required" class="form-control" %}
                    </div>
                </form>
                <div>
                    <button id="send_followup" type="submit"
                            class="btn btn-outline-success btn-sm">{% trans 'Submit' %}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block page_script %}
    <script>
        $(document).ready(function () {
            $('#send_followup').click(function () {
                let organization = $('#id_organization').val()
                let description = $('#id_description').val()
                $.ajax({
                    url: '{% url 'sale:create-followup' %}',
                    method: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        organization: organization,
                        description: description
                    },
                    success: function () {
                        alert('{% trans "Follow Up has been saved" %}')
                    },
                    error: function () {
                        alert('{% trans "invalid data" %}')
                    }
                })
            })
        })
    </script>
{% endblock %}