{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <title>quote-pdf</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <dl>
                <dt>Submitted by</dt>
                <dd>{{ object.owner.get_full_name }}</dd>
                <dt>Date</dt>
                <dd>{{ object.created_on }}</dd>
            </dl>
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Costumer Name</th>
                    <th scope="col">Organization</th>
                    <th scope="col">Product</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">price</th>
                    <th scope="col">Tax</th>
                    <th scope="col">discount</th>
                </tr>
                </thead>
                <tbody>
                {% for item in object.quoteitem_set.all %}
                    <tr>
                        <td>{{ item.get_costumer_name }}</td>
                        <td>{{ item.organization }}</td>
                        <td>{{ item.product }}</td>
                        <td>{{ item.qty }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.tax }}%</td>
                        <td>{{ item.discount }}%</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="7">Total Price with Tax and Discount :
                        {{ object.get_total_price | floatformat:0 }}
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
</body>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</html>