{% extends 'organizations/base.html' %}
{% load i18n %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-2">
                <table class="table align-middle">
                    <thead>
                    <tr>
                        <th scope="col">{% trans 'Quote Number' %}</th>
                        <th scope="col">{% trans 'Date' %}</th>
                        <th scope="col">{% trans 'Costumer Name' %}</th>
                        <th scope="col">{% trans 'Products' %}</th>
                        <th scope="col">{% trans 'Print' %}</th>
                        <th scope="col">{% trans 'Send Email' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for quote in object_list %}
                        <tr>
                            <th scope="row">{{ quote.pk }}</th>
                            <td>{{ quote.created_on }}</td>
                            <td>
                                {% for item in quote.quoteitem_set.all %}
                                    <p>{{ item.get_costumer_name }}</p>
                                {% endfor %}
                            </td>
                            <td>
                                {% for item in quote.quoteitem_set.all %}
                                    <p>{{ item.product }} - {% trans 'Quantity' %}: {{ item.qty }}</p>
                                {% endfor %}
                            </td>
                            <td>
                                <a href="{% url 'sale:print-quote' quote.pk %}" type="button"
                                   class="btn btn-outline-pinterest btn-sm px-3">
                                    <i class="fas fa-print"></i>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'sale:send-email' quote.pk %}" type="button"
                                   class="btn btn-outline-pinterest btn-sm px-3">
                                    <i class="fas fa-envelope"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}