{% extends 'organizations/base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-2">
                <table class="table align-middle">
                    <thead>
                    <tr>
                        <th scope="col">Quote Number</th>
                        <th scope="col">Date</th>
                        <th scope="col">Costumer Name</th>
                        <th scope="col">Products</th>
                        <th scope="col">Print</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for quote in object_list %}
                        <tr>
                            <th scope="row">{{ quote.pk }}</th>
                            <td>{{ quote.created_on }}</td>
                            <td>
                                {% for item in quote.quoteitem_set.all %}
                                    <p>{{ item.get_costumer_name }}</p>
                                {% endfor %}
                            </td>
                            <td>
                                {% for item in quote.quoteitem_set.all %}
                                    <p>{{ item.product }} - Quantity: {{ item.qty }}</p>
                                {% endfor %}
                            </td>
                            <td>
                                <a href="#" type="button" class="btn btn-outline-pinterest btn-sm px-3">
                                    <i class="fas fa-print"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}