{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html {% if LANGUAGE_BIDI %}lang="fa" dir="rtl" {% endif %} lang='en' dir="ltr">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <title>{% trans 'quote pdf' %}</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <dl>
                <dt>{% trans 'Submitted by' %}</dt>
                <dd>{{ object.owner.get_full_name }}</dd>
                <dt>{% trans 'Date' %}</dt>
                <dd>{{ object.created_on }}</dd>
            </dl>
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">{% trans 'Costumer Name' %}</th>
                    <th scope="col">{% trans 'Organization' %}</th>
                    <th scope="col">{% trans 'Product' %}</th>
                    <th scope="col">{% trans 'Quantity' %}</th>
                    <th scope="col">{% trans 'price' %}</th>
                    <th scope="col">{% trans 'Tax' %}</th>
                    <th scope="col">{% trans 'discount' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for item in object.quoteitem_set.all %}
                    <tr>
                        <td>{{ item.get_costumer_name }}</td>
                        <td>{{ item.organization }}</td>
                        <td>{{ item.product }}</td>
                        <td>{{ item.qty }}</td>
                        <td>${{ item.price }}</td>
                        <td>{{ item.tax }}%</td>
                        <td>{{ item.discount }}%</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="7">{% trans 'Total Price with Tax and Discount' %} :
                        ${{ object.get_total_price | floatformat:0 }}
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
</body>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</html>