{% extends 'organizations/base.html' %}
{% load i18n %}
{% block content %}
    <div class="container">
        <div class="row">
            {% for product in object_list %}
                <div class="col-md-5 mt-2">
                    <div class="project-info-box mt-0">
                        <h5>{% trans 'Technical Features' %}</h5>
                        <p class="mb-0">{{ product.technical_features }}</p>
                    </div>
                    <div class="project-info-box">
                        <p><b>{% trans 'Name' %}:</b> {{ product.name }}</p>
                        {% if product.taxable %}
                            <p><b>{% trans 'Taxable' %}:</b> {% trans 'Yes' %}</p>
                        {% else %}
                            <p><b>{% trans 'Taxable' %}:</b> {% trans 'No' %}</p>
                        {% endif %}
                        <p><b>{% trans 'Catalog' %}:</b> <a href="{{ product.catalog.url }}" download
                                              style="text-decoration: none">{{ product.catalog.name }}</a>
                        </p>
                        <p class="mb-0"><b>{% trans 'Budget' %}:</b> ${{ product.price }}</p>
                    </div>
                </div>
                <div class="col-md-7 mt-2">
                    <img src="{{ product.image.url }}" alt="product-image" class="rounded">
                    <div class="project-info-box">
                        <p><b>{% trans 'Organization Products That can be Made with this Product' %}:</b>
                            {% for organization_product in product.usable_for_organization_product.all %}
                                <p>{{ organization_product }}</p>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            {% endfor %}
            {% include 'products/pagination.html' %}
        </div>
    </div>
{% endblock %}