{% extends 'organizations/base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            {% for product in object_list %}
                <div class="col-md-5 mt-2">
                    <div class="project-info-box mt-0">
                        <h5>Technical Features</h5>
                        <p class="mb-0">{{ product.technical_features }}</p>
                    </div>
                    <div class="project-info-box">
                        <p><b>Name:</b> {{ product.name }}</p>
                        {% if product.taxable %}
                            <p><b>Taxable:</b> Yes</p>
                        {% else %}
                            <p><b>Taxable:</b> No</p>
                        {% endif %}
                        <p><b>Catalog:</b> <a href="{{ product.catalog.url }}" download
                                              style="text-decoration: none">{{ product.catalog.name }}</a>
                        </p>
                        <p class="mb-0"><b>Budget:</b> ${{ product.price }}</p>
                    </div>
                </div>
                <div class="col-md-7 mt-2">
                    <img src="{{ product.image.url }}" alt="product-image" class="rounded">
                    <div class="project-info-box">
                        <p><b>Organization Products That can be Made with this Product:</b>
                            {% for organization_product in product.usable_for_organization_product.all %}
                                <p>{{ organization_product }}</p>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            {% endfor %}
            {% include 'products/pagination.html' %}
        </div>
    </div>
{% endblock %}